{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}

    <h2 class="archive__item-title" itemprop="headline">
      {% if post.link %}
        <a href="{{ post.link }}">{{ title }}</a> <a href="{{ base_path }}{{ post.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
      {% else %}
        <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
      {% endif %}
    </h2>

    {% if post.read_time %}
      <p class="page__meta"><i class="fa fa-clock" aria-hidden="true"></i> {% include read-time.html %}</p>
    {% endif %}

    {% assign dl = false %}
    {% if post.paperurl != nil and post.paperurl != "" %}
      {% assign dl = true %}
    {% endif %}

    {% assign buy = false %}
    {% if post.buy_paper != nil and post.buy_paper != "" %}
      {% assign buy = true %}
    {% endif %}

    {% assign sl = false %}
    {% if post.slidesurl != nil and post.slidesurl != "" %}
      {% assign sl = true %}
    {% endif %}

    {% assign bib = false %}
    {% if post.bibtexurl != nil and post.bibtexurl != "" %}
      {% assign bib = true %}
    {% endif %}

    {% assign cat = false %}
    {% if post.catalogue_entry != nil and post.catalogue_entry != "" %}
      {% assign cat = true %}
    {% endif %}

    {% if post.collection == "teaching" %}
      <p>{{ post.type }}, <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }}</p>
    {% elsif post.collection == "publications" %}
      <p>Published in <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }}{% if cat %} &middot; Catalogue entry: <a href="{{ post.catalogue_entry }}">{{ post.catalogue_entry }}</a>{% endif %}</p>
    {% elsif post.date %}
      <p class="page__date"><strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].date_label | default: "Published:" }}</strong> <time datetime="{{ post.date | default: "1900-01-01" | date_to_xmlschema }}">{{ post.date | default: "1900-01-01" | date: "%B %d, %Y" }}</time></p>
    {% endif %}

    {% if post.excerpt and site.read_more != "enabled" %}
      <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify }}</p>
    {% elsif post.excerpt and site.read_more == "enabled" %}
      <p class="archive__item-excerpt" itemprop="description"><p>{{ post.excerpt | markdownify | remove: "<p>" | remove: "</p>" }}<strong><a href="{{ base_path }}{{ post.url }}" rel="permalink"> Read more</a></strong></p></p>
    {% endif %}

 {% if post.citation or dl or sl or bib or buy %}
  <div class="pub-links">
    {% if post.citation %}Recommended citation: {{ post.citation }}<br />{% endif %}
    {% if dl %}<a href="{{ post.paperurl }}">Download Paper</a>{% endif %}
    {% if dl and sl %} | {% endif %}
    {% if sl %}<a href="{{ post.slidesurl }}">Download Slides</a>{% endif %}
    {% if sl and bib %} | {% endif %}
    {% if bib %}<a href="{{ post.bibtexurl }}">Download Bibtex</a>{% endif %}
    {% if buy and (dl or sl or bib) %}<br />{% endif %}
    {% if buy %}<a href="{{ post.buy_paper }}">Buy Paper</a>{% endif %}
  </div>
{% endif %}

  </article>
</div>
