---
layout: default
---

{% include base_path %}

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<div id="main" role="main">
  {% include sidebar.html %}

  <article class="page" itemscope itemtype="http://schema.org/CreativeWork">
    {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.excerpt %}<meta itemprop="description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.date %}<meta itemprop="datePublished" content="{{ page.date | date: "%B %d, %Y" }}">{% endif %}
    {% if page.modified %}<meta itemprop="dateModified" content="{{ page.modified | date: "%B %d, %Y" }}">{% endif %}

    {%- assign dl = false -%}
    {%- if page.paperurl != nil and page.paperurl != "" -%}{%- assign dl = true -%}{%- endif -%}
    {%- assign buy = false -%}
    {%- if page.buy_paper != nil and page.buy_paper != "" -%}{%- assign buy = true -%}{%- endif -%}
    {%- assign sl = false -%}
    {%- if page.slidesurl != nil and page.slidesurl != "" -%}{%- assign sl = true -%}{%- endif -%}
    {%- assign bib = false -%}
    {%- if page.bibtexurl != nil and page.bibtexurl != "" -%}{%- assign bib = true -%}{%- endif -%}
    {%- assign cat = false -%}
    {%- if page.catalogue
